       /* Image resize  */

       .card img {
              width: 71.8px;
              height: 72.34px;
       }



       .qna .box {
              background-color: #F3F3F3;
              color: #414040;
              border-radius: 10px;



       }